@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
}

/* COMMON */
.inner {
  width: 90%;
  max-width: 1132px;
  margin: auto;
}

.sec-title {
  font-size: 2.625em;
  /*42px*/
  color: #3f51b5;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.para {
  color: #616161;
  font-size: 0.875em;
  /*14px*/
  line-height: 1.5;
}

.divider1 {
  width: 90%;
  max-width: 1132px;
  margin: 70px auto;
  background: #eee;
}

.divider2 {
  width: 20%;
  max-width: 1132px;
  margin: 70px auto;
  background: #3f51b5;
}


/* MOBILE */
/* WIDTH: 100% */
header {
  width: 100%;
  height: 50px;
  position: fixed;
  /* nav 기준 */
  background: #fff;
  box-shadow: 0 10px 10px rgba(138, 138, 138, 0.1);
  z-index: 10;
}

/* WIDTH: 90%, ALIGN: CENTER */
header .header-inner {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

/* MOBILE LOGO */
header .header-inner h1 a {
  color: #3f51b5;
  text-transform: uppercase;
  font-size: 1.625em;
  /*26px*/
}

/* MOBILE MENU */
header .header-inner nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

header .header-inner nav .gnb {
  background: #3f51b5;
  display: none;
}

header .header-inner nav .gnb li {
  border-bottom: 1px solid #303f9f;
}

header .header-inner nav .gnb li a {
  display: block;
  padding: 15px 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875em;
  /*14px*/
  text-indent: 20px;
}

/* MOBILE MENU-TOGGLE */
header .header-inner .menu-toggle-btn {
  display: block;
  width: 20px;
  height: 13px;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
}

header .header-inner .menu-toggle-btn span {
  display: block;
  width: 100%;
  height: 2px;
  background: #3f51b5;
}

/* MOBILE SLIDE | BANNER */
.slider img {
  width: 100%;
  max-width: 100%;
  margin-top: 50px;
}

/* MOBILE DISPLAY */
.display-section {
  text-align: center;
  margin-top: 50px;
}

.display-section h2 {
  margin-bottom: 30px;
}

/* MOBILE MENU */
.menu-section {
  margin-top: 50px;
}

.menu-section ul li {
  text-align: center;
  margin-top: 30px;
}

.menu-section ul li img {
  height: 50px;
}

.menu-section ul li h3 {
  color: #3f51b5;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px 0 10px;
}

/* MOBILE WORK */
.work-section h2 {
  text-align: center;
  margin-bottom: 50px;
}

.work-section ul li {
  width: 100%;
}

.work-section ul li a img {
  width: 100%;
  max-width: 100%;
}

/* MOBILE: cursor: pointer; > blue-bg */
.work-section ul li a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  /*info, blue-bg 기준*/
}

.work-section ul li a::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3f51b5;
  opacity: 0;
  transition: opacity 0.2s;
}

.work-section ul li a:hover::before {
  opacity: 0.8;
}

/* MOBILE-info:hover; top>down */
.work-section ul li a .list__info {
  position: absolute;
  top: 0px;
  left: 30px;
  color: #fff;
  text-transform: uppercase;
  opacity: 0;
  transition: all 0.3s;
}

.work-section ul li a:hover .list__info {
  transform: translateY(20px);
  opacity: 1;
}

.work-section ul li a .list__info h3 {
  font-size: 0.875em;
  /*14px*/
  margin-bottom: 2px;
}

.work-section ul li a .list__info span {
  font-size: 0.750em;
  /*12px*/
}


/* MOBILE BLOG */
.blog-section h2 {
  text-align: center;
  margin-bottom: 50px;
}

.blog-section ul li {
  margin-bottom: 50px;
}

.blog-section ul li a {
  display: block;
  width: 100%;
}

.blog-section ul li a img {
  width: 100%;
  max-width: 100%;
}

.blog-section ul li a time {
  color: #929292;
  font-size: 0.688em;
  /*11px*/
  display: block;
  margin: 10px 0;
}

.blog-section ul li a p {
  color: #424242;
  font-size: 0.813em;
  /*13px*/
}

/* MOBILE CONTACT */
.contact-section h2 {
  text-align: center;
  margin-bottom: 50px;
}

.contact-section .contact__form form {
  text-align: right;
}

.contact-section .contact__form form fieldset .box1 {
  margin-bottom: 30px;
}

.contact-section .contact__form form fieldset .box1 input {
  padding: 5px 0;
  margin: 10px 0;
  text-indent: 10px;
}

.contact-section .contact__form form fieldset .box2 textarea {
  height: 150px;
  text-indent: 10px;
  padding: 5px 0;
}

.contact-section .contact__form form button {
  padding: 15px;
  border: none;
  background: #3f51b5;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 30px;
}

/* MOBILE FOOTER */
footer {
  text-align: center;
  width: 100%;
  margin-top: 70px;
}

footer iframe {
  width: 100%;
  max-width: 100%;
  height: 300px;
}

footer p {
  padding: 20px 0;
  text-transform: uppercase;
  color: #3f51b5;
  font-size: 2vw;
}

/* TABLET */
@media all and (min-width : 768px) {

  /* TAB HEADER-MN */
  header .header-inner nav {
    position: static;
    width: auto;
  }

  header .header-inner nav .gnb {
    background: none;
    display: flex !important;
  }

  header .header-inner nav .gnb li {
    border-bottom: none;
    margin-left: 20px;
  }

  header .header-inner nav .gnb li a {
    color: #3f51b5;
    padding: 0;
    text-indent: 0px;
  }

  /* TAB *MENU-TOGGLE BTN */
  header .header-inner .menu-toggle-btn {
    display: none;
  }

  /* TAB DISPLAY */
  .display-section p {
    line-height: 2;
  }

  /* TAB MENU */
  .menu-section {
    margin-top: 100px;
  }

  .menu-section ul {
    display: flex;
    justify-content: space-between;
  }

  .menu-section ul li {
    margin-top: 0;
    width: 23%;
  }

  /* TAB WORK */
  .work-section ul {
    display: flex;
    flex-flow: row wrap;
  }

  .work-section ul li {
    width: 50%;
  }

  /* TAB BLOG */
  .blog-section ul {
    display: flex;
    justify-content: space-between;
  }

  .blog-section ul li {
    width: 32%;
  }

  /* TAB CONTACT */
  .contact-section .contact__form form fieldset {
    display: flex;
    justify-content: space-between;
  }

  .contact-section .contact__form form fieldset div {
    width: 49%;
    height: 160px;
  }

  .contact-section .contact__form form fieldset .box1 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }

  .contact-section .contact__form form fieldset .box1 input {
    margin: 0;
  }

  .contact-section .contact__form form button {
    margin-top: 10px;
  }

  /* TAB FOOTER */
  footer iframe {
    height: 400px;
  }

}

/* //TAB END */

/* -------- PC --------- */
@media all and (min-width : 1132px) {

  /* PC DISPLAY */
  .display-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .display-section h2 {
    margin-bottom: 0px;
  }

  .display-section p {
    text-align: left;
    position: relative;
  }

  .display-section p::before {
    content: "";
    width: 2px;
    height: 50px;
    background: #e0e0e0;
    display: block;
    position: absolute;
    top: 3px;
    left: -15px;
  }

  /* PC WORK */
  .work-section h2 {
    text-align: left;
  }

  .work-section ul li {
    width: 25%;
  }

  /* PC BLOG */
  .blog-section {
    display: flex;
    justify-content: space-between;
  }

  .blog-section ul {
    width: 70%;
  }

  /* PC CONTACT */
  .contact-section {
    display: flex;
    justify-content: space-between;
  }

  .contact-section .contact__form {
    width: 70%;
  }

  /* PC FOOTER */
  footer iframe {
    height: 500px;
  }

  footer p {
    font-size: 0.875em;
    /*14px*/
  }
}
/* //PC END */